/* Devices with width up to 1320px */
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

/* Devices with width up to 1100px */
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

/* Devices with width up to 900px */
@media only screen and (max-width: 900px) {
    .hamburger-nav {
        display: block;
        cursor: pointer;
    }
    .hamburger-nav .line {
        width: 25px;
        height: 2px;
        background: #f9f6ee;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #121212;
        transition: 0.2s;
        overflow: hidden;
    }
    
    .nav-bar.open {
        height: 450px;
    }
    
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    
    .nav-bar.open ul {
        opacity: 1;
    }
    
    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .hamburger-nav.open .line:nth-child(2) {
        opacity: 0;
    }
    .hamburger-nav.open .line:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    .hamburger-nav.open .line:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .contact-container {
        flex-direction: column;
        padding: 20px;
    }
    .contact-left {
        width: 100%;
    }
}

/* Small devices (phones, less than 767px) */
@media only screen and (max-width: 767px) {
    header {
        padding: 0 20px;
    }

    .container {
        padding-top: 100px;
        padding-left: 30px;
        text-align: left;
        height: 65vh;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    .contact-container {
        flex-direction: column;
        padding: 10px;
    }
    .contact-left {
        width: 100%;
    }
    .contact-inputs {
        padding: 10px;
    }
    .connect p {
        font-size: 14px;
    }
    .contact-left button {
        font-size: 14px;
    }
}

/* Medium devices (tablets, 768px and up to 900px) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
    header {
        padding: 0 50px;
    }

    .container {
        padding-top: 100px;
        padding-left: 50px;
        text-align: left;
    }    

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 15px;
    }
}

/* For devices with width up to 900px */
@media only screen and (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }
    .contact-left {
        width: 100%;
    }
}

/* For devices with width up to 600px */
@media only screen and (max-width: 600px) {
    .contact-container {
        flex-direction: column;
        padding: 10px;
    }
    .contact-left {
        width: 100%;
    }
    .contact-inputs {
        padding: 10px;
    }
    .connect p {
        font-size: 14px;
    }
    .contact-left button {
        font-size: 14px;
    }
}
