@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger-nav {
        display: block;
        cursor: pointer;
    }
    .hamburger-nav .line {
        width: 25px;
        height: 2px;
        background:#f9f6ee;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #121212;
        transition: 0.2s;
        overflow: hidden;
    }
    
    .nav-bar.open {
        height: 450px;
    }
    
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    
    .nav-bar.open ul {
        opacity: 1;
    }
    
    .nav-bar ul li a {
        margin-bottom: 12px;
    
    }

    .hamburger-nav.open .line:nth-child(2){
        opacity: 0;
    }
    .hamburger-nav.open .line:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .hamburger-nav.open .line:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }

}