@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #f9f6ee;
    background-color: #121212;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
}

#light {
    font-weight: lighter;
}

.logo {
    font-weight: bold;
    font-size: 45px;
    margin-left: 10px; 
    text-align: left;
}

.logo:hover {
    cursor: default;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; 
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #f9f6ee;
    text-decoration: none;
    text-underline-offset: 3px;
}

a:hover {
    color: #e2dfd2;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.hero, #end {
    max-width: 600px;
    margin-left: 60px; 
    text-align: left;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
